<!-- Sidebar menu -->
<?php
    $sideMenuItems = BackendMenu::listSideMenuItems();

    if ($sideMenuItems):
        $collapsedGroups = explode('|',
        isset($_COOKIE['sidenav_treegroupStatus']) ? $_COOKIE['sidenav_treegroupStatus']
            : null);

    $categories = [];
    foreach ($sideMenuItems as $sideItemCode => $item) {
        if (!isset($item->group)) {
            $sub = explode('.', $item->code);
            $item->group = e(trans('xitara.' . $sub[0] . '::lang.submenu.label'));
        }

        if (strpos($sideItemCode, 'custommenulist.') !== false) {
            $sub = explode('.', $sideItemCode);
            $item->group = ucfirst($sub[1] ?? 'no_text');

            if (isset($item->attributes['groupLabel'])) {
                $item->group = $item->attributes['groupLabel'];
            }
        }

        foreach ($item->permissions as $permission) {
            if ($this->user->hasAccess($permission)) {
                $categories[$item->group][$sideItemCode] = $item;
            }
        }
    }
?>
    <ul class="top-level">
    <?php foreach ($categories as $category => $items):
            $collapsed = in_array($category, $collapsedGroups);
            if (!isset($_COOKIE['sidenav_treegroupStatus'])) {
                /**
                 * true -> collapsed per default
                 * false -> expanded per default
                 * @var boolean
                 */
                $collapsed = true;
            }
    ?>
        <li data-group-code="<?= e($category); ?>"
            <?= $collapsed ? 'data-status="collapsed"' : null; ?>
        >
            <div class="group">
                <h3><?= e(trans($category)); ?></h3>
            </div>
            <ul>
            <?php foreach ($items as $item): ?>
                <?php if (!isset($item->hidden) || $item->hidden == false): ?>
                    <li class="
                        <?= BackendMenu::isSideMenuItemActive($item) ? 'active' : null; ?>
                        level-<?= isset($item->attributes['level']) ? $item->attributes['level'] : 1; ?>
                        <?= isset($item->attributes['line']) ? ' border-' . $item->attributes['line'] : null; ?>
                        "
                        data-keywords="<?= e(trans($item->attributes['keywords'] ?? '')); ?>">
                        <a href="<?= $item->url; ?>" target="<?= $item->attributes['target'] ?? '_self';?>">
                            <?php if ($item->iconSvg === null): ?>
                                <i class="sidebar-menu-item <?= $item->icon; ?>"></i>
                            <?php else: ?>
                                <img src="<?= $item->iconSvg; ?>" style="width: 25px; margin-left: -30px; float: left">
                            <?php endif; ?>
                            <span class="header"><?= e(trans($item->label)); ?></span>
                            <span class="description">
                                <?= e(trans($item->attributes['description'] ?? '')); ?>
                            </span>
                        </a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
            </ul>
        </li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>
