$color_1: #ccc;
$color_2: #e8e8e8;
$color_3: #fff;
$color_4: #bbb;
$background_color_1: #2f2f2f;
$background_color_2: #3e3e3e;
$background_color_3: #3c3c3c;

& {
    background: #222222;
    color: $color_1;
}

nav#layout-mainmenu {
    background-color: $background_color_1;
    box-shadow: inset 0px 1px 20px #5a5a5a;
}
.bg-p {
    background-color: $background_color_2;
}
.callout.callout-info {
    > .content {
        background: inherit;
        color: $color_2;
        border: solid 2px #b15308;
    }
}
.close {
    color: $color_3;
    &:hover {
        color: $color_3;
    }
    &:focus {
        color: $color_3;
    }
}
.table-striped.widget-calcs {
    color: $color_4;
}
.table-striped {
    > tbody {
        > tr {
            &:nth-child(odd) {
                > td {
                    background-color: $background_color_3;
                }
            }
        }
    }
}
.table {
    > tbody {
        > tr {
            > td {
                border-top: 1px solid #616161;
            }
        }
    }
}
