$color_1: #c8c8c8;
$background_color_1: #404040;
$background_color_2: #1d1d1d;
$background_color_3: transparent;

.control-breadcrumb {
    background-color: $background_color_1;
    li {
        background-color: $background_color_2;
        &:before {
            border-left: 15px solid #404040;
        }
        &:after {
            border-left: 15px solid #1d1d1d;
        }
        &:last-child {
            background-color: $background_color_3;
            color: $color_1;
        }
    }
}
