$color_1: #c8c8c8;
$color_2: #f9e23d;
$color_3: #ccb931;
$color_4: aliceblue;
$color_5: #d7ba7d;
$background_color_1: #505050;
$background_color_2: #606060;

label {
    color: $color_1;
}
.form-control {
    color: $color_2;
    background-color: $background_color_1;
    border: 1px solid #909090;
    box-shadow: none;
}
.form-control[disabled] {
    background-color: $background_color_2 !important;
    color: $color_3;
}
.form-control[readonly] {
    background-color: $background_color_2 !important;
    color: $color_3;
}
fieldset[disabled] {
    .form-control {
        background-color: $background_color_2 !important;
        color: $color_3;
    }
}
.field-mediafinder.style-image-single {
    .find-button {
        background: #43474a;
        border: 2px dotted #b9b9b9;
        .find-button-icon {
            &:before {
                color: $color_4;
            }
        }
    }
}
.field-codeeditor {
    border: 2px solid #27709c;
}
.help-block {
    color: $color_5;
}
.field-repeater {
    li.field-repeater-item {
        background: #313131;
        border: 1px solid #5f5f5f;
        box-shadow: none;
    }
}
.field-fileupload.style-image-multi {
    .upload-object {
        background: #313131;
        border: 1px solid #7b7b7b;
    }
}
.field-fileupload {
    .upload-object {
        h4 {
            color: $color_5;
        }
    }
}
