$color_1: #c8c8c8;
$color_2: #bbbbbb;
$color_3: #bbb;
$color_4: #31ac5f;
$color_5: #ce9178;
$color_6: #569cd6;
$color_7: #fff;

.report-container {
    > ul {
        .item {
            background: #6f6f6f;
        }
    }
}
.report-widget {
    background: #333333;
    h3 {
        color: $color_1;
    }
    a {
        &:not(.btn) {
            color: $color_6;
        }
        &:not(.btn).status-label.primary {
            color: $color_7;
        }
    }
}
.widget-welcome {
    .welcome-message {
        color: $color_2;
        strong {
            color: $color_1;
        }
    }
}
.control-status-list {
    > ul {
        li {
            color: $color_3;
            border-bottom: 1px solid #6f6f6f;
            &:last-child {
                border-bottom: none;
            }
            .status-text.success {
                color: $color_4;
            }
            .status-text.warning {
                color: $color_5;
            }
        }
    }
}
.text-success {
    color: $color_4;
}
.control-chart {
    div.chart-legend {
        table {
            color: $color_3;
        }
    }
}
