$color_1: #fff;
$color_2: #ce9178;
$color_3: #cad47c;
$color_4: #daeb60;
$color_5: #c3c3c3;
$color_6: #cddc39;
$color_7: #ffeb3b;
$color_8: #f9e23d;
$color_9: #f0f8ff;
$background_color_1: #416080;
$background_color_2: #353535;
$background_color_3: #54210a;
$background_color_4: #491d08;
$background_color_5: #505050;
$background_color_6: #8a8a8a;
$border_color_1: #0180ff;

.control-filter {
    color: $color_1;
    background-color: $background_color_1;
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    a {
        color: $color_5;
    }
    .custom-checkbox {
        label {
            color: $color_5;
        }
    }
    > .filter-scope {
        &:hover {
            color: $color_6;
            .filter-label {
                color: $color_6;
            }
        }
        &:hover.custom-checkbox {
            label {
                color: $color_6;
            }
        }
    }
    > .filter-scope.active {
        color: $color_6;
        .filter-label {
            color: $color_6;
        }
    }
    > .filter-scope.active.custom-checkbox {
        label {
            color: $color_6;
        }
    }
    > .filter-has-popover {
        &:hover {
            color: $color_7;
            .filter-label {
                color: $color_6;
            }
        }
    }
}
table.table.data {
    border-bottom: 1px solid #3e71a5;
    thead {
        background: #34495e;
        td {
            > a {
                color: $color_3;
                &:hover {
                    color: $color_4;
                }
            }
            > span {
                color: $color_3;
                &:hover {
                    color: $color_4;
                }
            }
            border-top: 1px solid #0180ff !important;
            border-bottom: 1px solid #0180ff !important;
            border-color: $border_color_1;
        }
        th {
            > a {
                color: $color_3;
                &:hover {
                    color: $color_4;
                }
            }
            > span {
                color: $color_3;
                &:hover {
                    color: $color_4;
                }
            }
            border-top: 1px solid #0180ff !important;
            border-bottom: 1px solid #0180ff !important;
            border-color: $border_color_1;
        }
    }
    tbody {
        tr {
            background: #2d2d2d;
            &:not(.no-data).selected {
                td {
                    background: #395169 !important;
                    color: $color_1;
                }
            }
            &:nth-child(even) {
                td {
                    background-color: $background_color_2;
                }
                th {
                    background-color: $background_color_2;
                }
            }
        }
        td {
            color: $color_2;
            border-top: 1px solid #34495e;
        }
        th {
            color: $color_2;
            border-top: 1px solid #34495e;
        }
        tr.rowlink {
            &:not(.nolink) {
                &:active {
                    td {
                        background: #395169 !important;
                        color: $color_1;
                    }
                }
                &:hover {
                    td {
                        background: #395169 !important;
                        color: $color_1;
                    }
                }
            }
        }
        tr.active {
            &:nth-child(even) {
                td {
                    background-color: $background_color_4;
                }
                th {
                    background-color: $background_color_4;
                }
            }
        }
    }
    .list-checkbox {
        border-right: 1px solid #0180ff;
    }
}
.control-list {
    table.table.data {
        .list-setup {
            a {
                color: $color_3;
            }
        }
    }
}
.table {
    > thead {
        > tr {
            > td.active {
                background-color: $background_color_3;
            }
            > th.active {
                background-color: $background_color_3;
            }
        }
        > tr.active {
            > td {
                background-color: $background_color_3;
            }
            > th {
                background-color: $background_color_3;
            }
        }
    }
    > tbody {
        > tr {
            > td.active {
                background-color: $background_color_3;
            }
            > th.active {
                background-color: $background_color_3;
            }
        }
        > tr.active {
            > td {
                background-color: $background_color_3;
            }
            > th {
                background-color: $background_color_3;
            }
        }
    }
    > tfoot {
        > tr {
            > td.active {
                background-color: $background_color_3;
            }
            > th.active {
                background-color: $background_color_3;
            }
        }
        > tr.active {
            > td {
                background-color: $background_color_3;
            }
            > th {
                background-color: $background_color_3;
            }
        }
    }
}
th.sort-desc.active.list-cell-name-id.list-cell-type-text {
    background: #34495e;
}
.select2-container--default {
    .select2-selection {
        background-color: $background_color_5;
        border: 1px solid #909090;
        box-shadow: none;
    }
    .select2-selection--single {
        .select2-selection__rendered {
            color: $color_8;
        }
        .select2-selection__arrow {
            b {
                &:before {
                    color: $color_9;
                }
            }
        }
    }
}
.field-checkboxlist {
    .field-checkboxlist-inner {
        background-color: $background_color_5;
        border: 1px solid #909090;
        box-shadow: none;
    }
}
.custom-checkbox {
    label {
        &:before {
            background-color: $background_color_6;
            border: 1px solid #d6d6d6;
            box-shadow: none;
        }
    }
}
.custom-radio {
    label {
        &:before {
            background-color: $background_color_6;
            border: 1px solid #d6d6d6;
            box-shadow: none;
        }
    }
}
