$color_1: #d16969;
$color_2: #ce9178;
$color_3: #31ac5f;
$background_color_1: #d2d2d2;

.whiteboard {
    background: #333333;
}
.nav.selector-group {
    li.active {
        a {
            color: $color_1;
        }
    }
}
ul.tree-path {
    li.root {
        a {
            color: $color_2;
        }
    }
}
table.name-value-list {
    td {
        color: $color_3;
    }
}
div.panel.border-right {
    border-right: 1px solid #7b7b7b;
}
div.panel.border-bottom {
    border-bottom: 1px solid #7b7b7b;
}
div.panel.triangle-down {
    &:after {
        border-top: 8px solid #7b7b7b;
    }
    &:before {
        border-top: 9px solid #7b7b7b;
    }
}
div[data-control='media-manager'] {
    .sidebar-image-placeholder {
        box-sizing: content-box;
        background-image: -webkit-linear-gradient(
                45deg,
                #efefef 25%,
                transparent 25%,
                transparent 75%,
                #efefef 75%,
                #efefef
            ),
            -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef
                        75%, #efefef);
        background-position: 0 0, 10px 10px;
        background-size: 21px 21px;
        background-color: $background_color_1;
        i.icon-level-up {
            color: $color_1;
        }
        p {
            color: $color_1;
            background: #fff;
        }
    }
}

div.panel.border-left {
    border-left: 1px solid #7b7b7b;
}
