#layout-sidenav {
    li.active {
        margin-left: 5px;
        background: black;
        border-left: solid 3px #bf4b00;
        a {
            &:hover {
                background: black;
            }
        }
    }
    ul {
        li {
            a {
                &:hover {
                    background: #333333;
                }
            }
        }
    }
}
.sidenav-tree {
    ul.top-level {
        > li {
            > div.group {
                &:before {
                    border-top: 8px solid #353535;
                }
                &:after {
                    border-top: 8px solid #353535;
                }
            }
        }
    }
}
