$color_1: #d16969;
$color_2: #f9e23d;
$background_color_1: #222;
$background_color_2: #2d2d2d;
$border_color_1: #555;
$border_top_color_1: #555;

.control-tabs.primary-tabs {
    > div {
        > ul.nav-tabs {
            > li {
                a {
                    > span.title {
                        padding: 2px 25px 0px 25px;
                        &:before {
                            background: #3f4244;
                            border-top: 2px solid #555;
                            border-left: 2px solid #555;
                        }
                        &:after {
                            background: #3f4244;
                            border-top: 2px solid #555;
                            border-right: 2px solid #555;
                        }
                    }
                }
            }
            > li.active {
                a {
                    > span.title {
                        &:before {
                            border-color: $border_color_1;
                            background: #222;
                        }
                        &:after {
                            border-color: $border_color_1;
                            background: #222;
                        }
                        span {
                            border-top-color: $border_top_color_1;
                            color: $color_1;
                        }
                    }
                    &:before {
                        background-color: $background_color_1;
                    }
                }
            }
            &:before {
                border-bottom: 2px solid #555;
            }
        }
        > div {
            > ul.nav-tabs {
                > li {
                    a {
                        > span.title {
                            &:before {
                                background: #3f4244;
                                border-top: 2px solid #555;
                                border-left: 2px solid #555;
                            }
                            &:after {
                                background: #3f4244;
                                border-top: 2px solid #555;
                                border-right: 2px solid #555;
                            }
                        }
                    }
                }
                > li.active {
                    a {
                        > span.title {
                            &:before {
                                border-color: $border_color_1;
                            }
                            &:after {
                                border-color: $border_color_1;
                            }
                            span {
                                border-top-color: $border_top_color_1;
                                color: $color_1;
                            }
                        }
                        &:before {
                            background-color: $background_color_1;
                        }
                    }
                }
                &:before {
                    border-bottom: 2px solid #555;
                }
            }
        }
    }
    > ul.nav-tabs {
        > li {
            a {
                > span.title {
                    &:before {
                        background: #3f4244;
                        border-top: 2px solid #555;
                        border-left: 2px solid #555;
                    }
                    &:after {
                        background: #3f4244;
                        border-top: 2px solid #555;
                        border-right: 2px solid #555;
                    }
                }
            }
        }
        > li.active {
            a {
                > span.title {
                    &:before {
                        border-color: $border_color_1;
                    }
                    &:after {
                        border-color: $border_color_1;
                    }
                    span {
                        border-top-color: $border_top_color_1;
                        color: $color_1;
                    }
                }
                &:before {
                    background-color: $background_color_1;
                }
            }
        }
        &:before {
            border-bottom: 2px solid #555;
        }
    }
}
.control-tabs {
    > ul.nav-tabs {
        > li.active {
            a {
                color: $color_2;
            }
        }
    }
    > div {
        > ul.nav-tabs {
            > li.active {
                a {
                    color: $color_2;
                }
            }
            > li {
                a {
                    > span.title {
                        > span {
                            border-top: 2px solid #555;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
        > div {
            > ul.nav-tabs {
                > li.active {
                    a {
                        color: $color_2;
                    }
                }
            }
        }
    }
}
.layout-cell.w-300.form-sidebar.control-scrollpanel {
    background-color: $background_color_2;
}
