/* body */
$bg-body: #161819;
$c-body: #b5afa5;

/* sidebar */
$bg-sidebar: #2a3a4b;
$c-sidebar: #333333;
$bg-search: #181a1b;

/* dashboard */
$bg-widget: #181a1b;
$c-widget: #9b9386;
$c-status: #7e8c8d;
$brd-status: 1px solid #7e8c8d;
$c-status-success: #278a4c;
$bg-status-success: #278a4c;
$c-status-warning: #e5a91a;
$bg-status-warning: #e5a91a;

/* cms */
$bg-main: rgba(27, 30, 31, 0.7);

$bg-scrollpanel: #1e2729;
$bg-scrollpanel-active: #2b2f31;
$c-scrollpanel-active: #8f8f8f;
$c-scrollpanel-description: #a1998d;
$c-scrollpanel-h4: #b5afa5;
$c-scrollpanel-strong: #b5afa5;

$bg-checkbox: #181a1b;
$brd-checkbox: #3e4446;
$shadow-checkbox: rgba(48, 52, 54, 25%) 0px 1px 0px inset, rgba(24, 26, 27, 50%) 0px 1px 0px;

$bg-component: #181a1b;
$c-component: #b7b1a7;

$bs-search: inset 0 1px 0 #333333;

$bg-tabs-active: #1b1e1f;
$bg-tabs: #333333;
